{
  admin off
}

oracle1.qqey.net {
  log {
    output stdout
    format console
  }
  root * /srv/web
  file_server
  reverse_proxy /graphql v2ray:3456 {
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-Proto {http.request.scheme}
    header_up -Origin
  }
}
