{
  admin off
}

oracle1.qqey.net {
  log {
    output stdout
    format console
  }

  @vmess path /vmess*
  reverse_proxy @vmess v2ray:16823 {
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-Proto {http.request.scheme}
    header_up -Origin
  }

  respond "OK" 200
}
